html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004c6c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	color: #fff;
	font-size: 1.1em;
	font-family: "Lato", sans-serif;
}

header {
	position: -webkit-sticky;
	position: sticky;
	opacity: 1;
	top: 0px;
	z-index: 1;
}

/* Effects */

@keyframes opacityAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes scale {
	100% {
		transform: scale(1);
	}
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
}

/* Effects End */

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
}

h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}

.nav__menu-mobile {
	display: none;
	top: 0;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004c6c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.nav {
	width: 90%;
	max-width: 1700px;
	/* background-image: url("images/coding.png"); */
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004c6c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	display: flex;
	margin: auto;
	overflow: hidden;
	top: 0;
}

.nav__bar {
	width: 90%;
	max-width: 1700px;
	margin: auto;
}

.nav__home {
	display: flex;
	height: 60px;
	align-items: center;
	margin: 0 20px;
}

.nav__menu {
	font-size: 1em;
	display: flex;
	align-items: center;
	height: 60px;
	margin: 0 30px;
}

.nav__menu-right {
	font-size: 0.9em;
	display: flex;
	height: 60px;
	align-items: center;
	margin-left: auto;
}

.nav__li {
	padding: 10px;
}

.nav__li a {
	padding: 6px;
}

.nav__li__r {
	padding: 10px;
}

.nav__li a:hover {
	border-bottom: 2px solid #fff;
}

/* Body */

.container {
	width: 90%;
	max-width: 1700px;
	/* margin: auto; */
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 200px;
	display: flex;
	/* background-image: url("images/coding.png"); */
}

/* myData (Left Side Div) */

.mydata {
	width: 65%;
	margin: 25px auto;
}

.header-quote {
	height: 200px;
	margin: 10px 0px;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.header-quote .quote {
	text-align: center;
	font-size: 1.8em;
	text-shadow: 1px 1px 2px #000, 0 0 25px #000, 0 0 10px #000;
	transform: scale(0.4);
	animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.header-quote .author {
	text-align: right;
	padding-top: 10px;
	font-size: 1.4em;
	text-shadow: 1px 1px 2px #000, 0 0 25px #000, 0 0 10px #000;
	transform: scale(0.2);
	animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.block {
	height: 60px;
}

.set__hidden__section {
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	opacity: 0;
	transform: translate(0vh, 10vh);
	transition: all 1s;
}

.set__hidden__title {
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: translate(0vh, 10vh);
	transition: all 1s;
}

.visible {
	opacity: 1;
	transform: translate(0, 0);
}

.episode {
	display: grid;
	grid-template-columns: 1fr 3fr;
	position: relative;
}

.episode__number {
	font-size: 2vw;
	font-weight: 600;
	padding: 10px 0;
	position: sticky;
	top: 0;
	text-align: center;
	height: calc(10vw + 20px);
	transition: all 0.2s ease-in;
}

.episode__content {
	border-top: 2px solid #fff;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 10px;
	padding: 15px 0;
}

.episode__content .title {
	font-weight: 600;
}

.episode__content .story {
	line-height: 26px;
}

.client_logo {
	width: 100px;
	padding: 0px 10px;
}

.soft-raiting {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	margin: 30px 20px;
	gap: 20px;
	align-items: center;
	text-align: center;
}

.checked {
	color: darkcyan;
}

.app-name {
	align-items: center;
	justify-items: center;
	margin: auto;
}

.app-logo {
	width: 50px;
}

.modal {
	z-index: 1;
	display: none;
	padding-top: 10px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000;
}

.modal__content {
	margin: auto;
	position: relative;
	top: 5%;
	text-align: center;
}

.modal-hover {
	filter: brightness(50%);
}

.modal-hover:hover {
	filter: brightness(80%);
}

.close {
	text-decoration: none;
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
}

.gallery {
	text-align: center;
}

.gallery__item {
	width: 5em;
	display: inline-block;
}

.gallery__item img {
	max-width: 100%;
	cursor: pointer;
	filter: brightness(50%);
}

.gallery p {
	font-size: 0.9em;
}

.modal__content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.training {
	display: inline-block;
	gap: 20px;
	margin-left: 6vw;
	margin-right: 6vw;
}

.training ul {
	list-style-type: disc;
}

.training ul h3 {
	position: absolute;
	margin: auto;
}

.training ul li {
	margin-left: 90px;
	padding-bottom: 5px;
}

.education {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 20px;
	gap: 10px;
	align-items: center;
	text-align: center;
}

.education li {
	padding: 2px;
}

.education li:first-child {
	font-size: 1.1em;
}

.education li:last-child {
	font-size: 0.9em;
}

/* sidebar (Right Side Div)*/

.sidebar {
	width: 25%;
	align-items: center;
	text-align: center;
	height: 820px;
	animation: opacityAnim 5s;
}

.sidebar hr {
	width: 60%;
	margin: auto;
	text-align: center;
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, #000000, #ffffff, #000000);
}

.face {
	margin: 30px 0px 0px;
	width: 200px;
	border-radius: 50%;
	shape-outside: circle();
	border: 2px solid darkcyan;
}

.sidebar h1 {
	margin: 15px 0px;
	font-size: 1.8px;
}

.sidebar h3 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.sidebar h4 {
	font-size: 0.9em;
	margin-bottom: 15px;
}

.sidebar h3 .fa {
	color: darkcyan;
}

.sidebar p {
	margin: 15px 0px;
}

.sidebar p :first-child {
	color: darkcyan;
	font-size: 1.4em;
	padding-left: 0px;
}

.sidebar p a {
	color: darkcyan;
	font-size: 1.4em;
	padding-left: 10px;
}

.languageSkills {
	display: flex;
	margin: auto;
	align-content: center;
	justify-content: center;
	gap: 10px;
}

.mobile_sidebar-button {
	display: none;
}

.mobile_sidebar-button i {
	font-size: 2.5em;
	height: 20px;
	width: 20px;
	top: 45%;
}

.nav__mobile-hidden {
	display: none;
}

.nav__mobile-visible {
	display: none;
}

@media screen and (max-width: 865px) {
	.header-quote .quote {
		font-size: 1.6em;
	}

	.header-quote .author {
		font-size: 1.2em;
	}

	.mobile_sidebar-button {
		display: unset;
	}

	.sidebar {
		display: none;
		background-color: #000000;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004c6c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
		position: fixed;
		width: 350px;
		/* left: 0;
		right: 0; */
		top: 60px;
		margin-top: 0;
		/* margin-left: auto;
		margin-right: auto; */
		z-index: 98;
		animation: opacityAnim 1s;
		left: 50%;
		margin-left: -175px;
	}

	.sidebar h1 {
		font-size: 1.4px;
	}

	.sidebar h3 {
		font-size: 0.9em;
		margin-bottom: 3px;
	}

	.sidebar h4 {
		font-size: 0.7em;
		margin-bottom: 8px;
	}

	.sidebar p {
		font-size: 0.7em;
	}

	.face {
		width: 150px;
	}

	.languageSkills {
		font-size: 0.7em;
	}

	.mydata {
		width: 100%;
		margin: 30px auto;
	}

	.nav__menu {
		display: none;
	}

	.nav__mobile-hidden {
		display: none;
		background-color: #000000;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004c6c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
		text-align: right;
		position: fixed;
		right: 0;
		z-index: 99;
	}

	.nav__mobile-visible {
		display: inline;
		background-color: #000000;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004c6c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
		text-align: right;
		position: fixed;
		right: 0;
		z-index: 99;
	}

	.nav__menu-right {
		font-size: 1.2em;
		display: flex;
		height: 60px;
		align-items: center;
		margin-left: 0;
	}

	.nav__menu-mobile {
		font-size: 1.8em;
		display: flex;
		height: 60px;
		align-items: center;
		margin-left: auto;
	}

	.episode__content {
		grid-template-columns: 1fr;
	}

	.episode__number {
		font-size: 2vw;
		font-weight: 600;
		padding: 10px 0;
		position: sticky;
		top: 0;
		text-align: center;
		height: calc(10vw + 20px);
	}

	.episode__content .story {
		font-size: 15px;
	}

	.soft-raiting {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(6, 1fr);
		margin: 30px 20px;
		gap: 20px;
		align-items: center;
		text-align: center;
		font-size: 10px;
	}

	.app-logo {
		width: 40px;
		transition: all 0.2s ease-in;
	}
}
